.count-down {
  background-image: url(../../assets/image/count-down.jpg);
  background-color: #292929;
  background-size: cover;
  .count-box {
    padding: 30px;
    background-color: rgba(250,250,250,0.1);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    span:first-child {
      display: block;
      margin-bottom: 0.7rem;
      color: var(--main-color);
      font-size: 2.5rem;
      font-weight: bold;
    }
    span:not(:first-child) {
      display: block;
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
  }
}

.box-info {
  @media (max-width: 576px) {
    & {
      text-align: center;
    }
  }
  > span {
  display: block;
  margin-bottom: 5px;
  }
  h2 {
    @media (max-width: 576px) {
      & {
        font-size: 1.8rem;
      }
    }
    > span {
      color: var(--main-color);
    }
  }
  a {
    margin-bottom: 0.5rem;
  }
}