:root {
  --main-font:'Poppins', sans-serif;
  --main-color:#a4c639;
  --second-color:#f7f7f7;
  --p-color:#777;
  --dark-color:#1e1e1e;
  --dark-second-color:#232323;
  --dark-third-color:#343434;
  --fw-light:300;
  --fw-medium:500;
  --fw-bold:700;
  --hover-transition:all .3s linear;
}