:root {
  --main-font:"Poppins", sans-serif;
  --main-color:#a4c639;
  --second-color:#f7f7f7;
  --p-color:#777;
  --dark-color:#1e1e1e;
  --dark-second-color:#232323;
  --dark-third-color:#343434;
  --fw-light:300;
  --fw-medium:500;
  --fw-bold:700;
  --hover-transition:all .3s linear;
}

* {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}

.link-btn {
  background-color: var(--main-color) !important;
}
.link-btn:hover {
  background-color: #fff !important;
  color: #a4ca2c !important;
}

p {
  font-size: 1rem;
  color: var(--p-color);
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

h1 {
  font-size: 2.75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
  font-weight: var(--fw-medium) !important;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.main-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.main-title span {
  font-style: normal;
  margin-left: 5px;
  font-size: inherit;
  color: var(--main-color) !important;
}
.main-title p {
  color: #777;
}

header {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
header .navbar-nav .nav-link {
  margin: 0 10px;
  color: #fff;
}
header .navbar-nav .nav-link.active, header .navbar-nav .nav-link:hover {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}

.landing .img-box img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.landing .crousel-item-info {
  position: absolute;
  top: 50%;
  left: 7rem;
  max-width: 600px;
  transform: translateY(-50%);
  padding: 20px;
}
.landing .crousel-item-info h5 {
  margin-bottom: 10px;
  color: var(--main-color);
  font-size: 1.5rem;
}
.landing .crousel-item-info h1 {
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 3rem;
}
.landing .crousel-item-info p {
  color: #fff;
}

.header-carousel-button {
  width: 2rem;
  height: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
}

.carousel-control-prev {
  left: 1rem;
}

.carousel-control-next {
  right: 1rem;
}

.landing-info {
  background-color: var(--main-color);
}
.landing-info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-info .container .text-info h4,
.landing-info .container .text-info p {
  color: #fff;
  margin-bottom: 0;
}

.services .img-box {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  max-width: 370px;
}
.services .img-box:hover .img-info {
  transform: translatey(0);
}
.services .img-box .img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.5), var(--main-color));
  transform: translatey(100%);
  transition: var(--hover-transition);
}
.services .img-box .img-info h4 {
  position: absolute;
  bottom: 0;
  padding: 0.8rem;
  color: #fff;
}
.services .serv-info {
  max-width: 370px;
  background-color: var(--second-color);
  text-align: center;
  padding: 20px;
}

.count-down {
  background-image: url(/assets/image/count-down.jpg);
  background-size: cover;
}
.count-down .count-box {
  padding: 30px;
  background-color: rgba(250, 250, 250, 0.1);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.count-down .count-box span:first-child {
  display: block;
  margin-bottom: 0.7rem;
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: bold;
}
.count-down .count-box span:not(:first-child) {
  display: block;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.box-info > span {
  display: block;
  margin-bottom: 5px;
}
.box-info h2 > span {
  color: var(--main-color);
}

.card {
  padding: 5rem 0 !important;
}
.card .card-box .card-img img {
  transition: var(--hover-transition);
}
.card .card-box .img-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  perspective: 1000px;
  overflow: hidden;
}
.card .card-box .img-effect .effect {
  position: absolute;
  width: 50%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card .card-box .img-effect .left {
  left: 0;
  transform-origin: left;
}
.card .card-box .img-effect .right {
  right: 0;
  transform-origin: right;
}
.card .card-box .img-effect:hover .left {
  transform: rotateY(-80deg);
}
.card .card-box .img-effect:hover .right {
  transform: rotateY(80deg);
}
.card .box-info {
  padding: 10px 0;
}

.about-us {
  background-color: var(--second-color);
}
.about-us .carousel-inner .carousel-item-end.active,
.about-us .carousel-inner .carousel-item-next {
  transform: translateX(50%);
}
.about-us .carousel-inner .carousel-item-start.active,
.about-us .carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}
.about-us .carousel-inner .carousel-item.active,
.about-us .carousel-inner .carousel-item-next,
.about-us .carousel-inner .carousel-item-prev,
.about-us .carousel-inner .carousel-item-end {
  display: flex;
}
.about-us .carousel-inner .carousel-item-end,
.about-us .carousel-inner .carousel-item-start {
  transform: translateX(0);
}
.about-us .carousel-inner .carousel-card {
  padding: 0.5rem;
}
.about-us .carousel-inner .carousel-card .carousel-info {
  background: #fff;
  text-align: center;
  padding: 20px;
}
.about-us .carousel-inner .carousel-card .carousel-info span {
  color: var(--main-color);
}
.about-us .carousel-inner .carousel-card .carousel-img {
  margin-top: 2rem;
  text-align: center;
}
.about-us .carousel-inner .carousel-card .carousel-img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 5px solid var(--main-color);
}
.about-us .carousel-inner .carousel-btn {
  background-color: #1c1d1f;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
}
.about-us .carousel-inner .carousel-btn .carousel-control-prev {
  left: 0;
}
.about-us .carousel-inner .carousel-btn .carousel-control-next {
  right: 0;
}

.contact-us form {
  background-color: var(--main-color);
  padding: 3rem;
  padding-bottom: 1rem;
}
.contact-us form .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 20px;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: var(--fw-medium);
  color: rgba(106, 106, 106, 0.4039215686) !important;
  padding: 10px 15px;
}
.contact-us form textarea {
  height: 200px;
  resize: none;
}
.contact-us form .link-btn {
  width: fit-content;
  border: 2px solid #fff;
  color: #fff !important;
}
.contact-us form .link-btn:hover {
  color: var(--main-color) !important;
  background-color: #fff !important;
}

.banner {
  background-color: var(--second-color);
}
.banner .carousel-inner .carousel-item-end.active,
.banner .carousel-inner .carousel-item-next {
  transform: translateX(20%);
}
.banner .carousel-inner .carousel-item-start.active,
.banner .carousel-inner .carousel-item-prev {
  transform: translateX(-20%);
}
.banner .carousel-inner .carousel-item.active,
.banner .carousel-inner .carousel-item-next,
.banner .carousel-inner .carousel-item-prev,
.banner .carousel-inner .carousel-item-end {
  display: flex;
}
.banner .carousel-inner .carousel-item-end,
.banner .carousel-inner .carousel-item-start {
  transform: translateX(0);
}
.banner .carousel-inner .banner-item {
  margin: auto;
  padding: 0 2rem;
}
.banner .carousel-inner .banner-item img {
  width: 120px;
  height: 120px;
}/*# sourceMappingURL=main.css.map */